<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.auxiliary.mapper.OrderRecordMapper">

    <select id="getAllOrderRecord" resultType="com.example.auxiliary.entity.OrderRecord">
        SELECT
               a.id,
            b.nick_name,
               b.id user_id,
            c.title,
            a.num,
            a.price ,
            a.`status`
        FROM
            order_record a
                LEFT JOIN `user` b ON b.id = a.user_id
                LEFT JOIN goods c ON c.id = a.goods_id
    </select>
</mapper>